<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="gridSystemModalLabel">
        <button class="btn btn-material-deep-orange" title="优先级：高"># 112</button>
{#         <button class="btn btn-material-blue" title="优先级：中"># 112</button>
        <button class="btn btn-material-indigo-100" title="优先级：低"># 112</button> #}
      </h4>
    </div>

    <div class="modal-body">
      <div class="row issue-show">
        <div class="col-md-9 issue-image">
          <img src="/banner.jpg">
        </div>
        <div class="col-md-3">
          <div class="issue-metas">
            <div class="issue-note">
              这里是Bug的描述，这里是Bug的描述，这里是Bug的描述。这里是Bug的描述，这里是Bug的描述，这里是Bug的描述。这里是Bug的描述，这里是Bug的描述，这里是Bug的描述。这里是Bug描述。
            </div>

            <div class="issue-users">

              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="/avatar.png" width="40" height="40">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <small class="pull-right text-info">报告人</small>
                    <small><strong>李雷</strong></small>
                  </h4>
                  <small class="text-muted">1小时前</small>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="/avatar.png" width="40" height="40">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <small class="pull-right text-primary">解决人</small>
                    <small><strong>李雷</strong></small>
                  </h4>
                  <small class="text-muted">1小时前</small>
                </div>
              </div>

              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="/avatar.png" width="40" height="40">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">
                    <small class="pull-right text-muted">验收人</small>
                    <small><strong>李雷</strong></small>
                  </h4>
                  <small class="text-muted">1小时前</small>
                </div>
              </div>

            </div>

            <div class="issue-actions text-center">
                    <button class="btn btn-primary">领</button>
              {#       <button class="btn btn-primary">修</button>
                    <button class="btn btn-primary">已修</button>
                    <button class="btn btn-primary">验收</button>
                    <button class="btn btn-primary">已验</button> #}

            </div>

            
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>