<div class="col-md-3">
  <div class="thumbnail issue-grid" >
    <img src="/banner.jpg" class="issue-image" data-toggle="modal" data-target="#issue-show-modal">
    <div class="douser-avatar">
      <img src="/avatar.png" > 
    </div>

    <div class="mask">
      <button class="btn btn-primary">领</button>
{#       <button class="btn btn-primary">修</button>
      <button class="btn btn-primary">已修</button>
      <button class="btn btn-primary">验收</button>
      <button class="btn btn-primary">已验</button> #}
    </div>
  </div>

</div>