#main {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 80px;
    bottom: 0px;
    overflow: scroll;
}

.issue-grid {
    /*height: 250px;*/
    position: relative;
}

.issue-grid .douser-avatar {
    position: absolute;
    top: 10px;
    right: 10px;
}

.issue-grid .douser-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.issue-grid .issue-image {
    /*height: 250px;*/
}

.issue-grid .mask {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    background: #fff;
    opacity: 0.75;
    visibility: hidden;
}

.issue-grid:hover .mask {
    visibility: visible;
    text-align: center;

}

.userlist-flotbar {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 80px;
    bottom: 0px;
    background: #fff;
}

.userlist-user {
    text-align: center;
    margin: 15px 0;
}

.userlist-user img {
    width: 50px;
    height: 50px;
    border: 0;

    border-radius: 50%;
}

#issue-show-modal .modal-dialog {
    width: 1200px;
}

#issue-show-modal .modal-content {
    min-height: 500px;
}

.issue-show {

}

.issue-note {
    color: #666;
}

.issue-show .issue-metas {
    border-left: 2px solid #ccc;
    padding-left: 15px;
}

.issue-show .issue-users {
    margin-top: 15px;
}

.issue-show .issue-actions {
    margin: 15px 0;
}

.issue-create-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -30px;
}

#issue-create-modal .issue-image {
    position: relative;
    background: #eee;
    border: 2px dashed #aaa;

    min-height: 200px;
}

#issue-create-modal .issue-image .empty-text {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -35px;
    margin-top: -10px;
    color: #aaa;
}

#issue-create-modal .issue-pri {
    text-align: center;
    margin: 15px 0;
}

#issue-create-modal .issue-image:hover {
    border-color: #666;
    background: #ddd;
}
#issue-create-modal .issue-image.pastable-focus {
    border-color: #666;
    background: #ddd;
}

