<div class="userlist-flotbar">
  <div class="userlist-user" data-id="1" data-nickname="xxx">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="1" data-nickname="xxx">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="1" data-nickname="xxx">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="1" data-nickname="xxx">
    <img src="/avatar.png">
  </div>

  <div class="userlist-user" data-id="1" data-nickname="xxx">
    <img src="/avatar.png">
  </div>
</div>